.frtility-clinic-banner h1 {
    font-size: 400%;
    font-family: math;
    color: #FFF;
    padding: 4rem 4rem;
    background-color: black;
    margin: 0;
}

.frtility-clinic_div {
    width: 90%;
}

.frtility-clinic-container {
    display: flex;
    position: relative;
    bottom: 3rem;
}

.frtility-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.frtility-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

p {
    color: #7b829c;
}

.frtility-clinic2 {
    font-size: xx-large;
    font-weight: 300;
}

.frtility-clinic1 {
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.frtility-clinic-container img {
    width: 90%;
}


/* specialisation */

.specilities_container_main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.spl_div {
    width: 40%;
}

.specilities_container h1,
.ser_spl_container h1,
.blog_container h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 0%;
}

.blog_container::after {
    content: "LATEST BLOG";
    position: relative;
    font-size: 7rem;
    font-weight: 900;
    bottom: 11rem;
    color: #CDCDCD;
    z-index: -1;
    opacity: .1;
}

.ser_spl_container::after {
    content: "OUR DOCTORS";
    position: relative;
    font-size: 7rem;
    font-weight: 900;
    bottom: 11rem;
    color: #CDCDCD;
    z-index: -1;
    opacity: .1;
}

.specilities_container::after {
    content: "SPECIALIZATION";
    position: relative;
    font-size: 7rem;
    font-weight: 900;
    bottom: 11rem;
    color: #CDCDCD;
    z-index: -1;
    opacity: .1;
}

.specilities_container,
.ser_spl_container ,
.blog_container{
    margin: 2rem 0;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.specilities_items_container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.specilities_item img,
.services_item img {
    width: 3rem;
}

.specilities_item::after {
    content: '';
    display: block;
    width: 0;
    /* Hide border initially */
    height: 4px;
    position: relative;
    top: 3.5rem;
    right: 1rem;
    background: #d45ba1;
    transition: width 0.3s ease;
}

.specilities_item:hover::after {
    width: 113%;
}

.specilities_item {
    width: 15rem;
    height: 20rem;
    background-color: #FFF;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spl_read_more:hover {
    color: #000;
}

.spl_read_more {
    font-weight: 600;
    color: #d45ba1;
    cursor: pointer;
}


/* About */

.about_container {
    display: flex;
    margin: 3rem 0;
}

.about_left img {
    width: 100%;
    max-height: 30rem;
}

.about_left {
    width: 45%;
}

.about_right h1,
.services_left h1 {
    font-size: 3rem;
}

.about_right p,
.services_left p {
    font-size: large;
}

.about_right {
    width: 50%;
    padding: 0 4rem;
}

.about_tick {
    display: flex;
    flex-wrap: wrap;
}

.about_tick_r span {
    font-weight: 600;
    color: #d45ba1;
}

.about_tick_r {
    width: 50%;
}

.about_left_box {
    display: flex;
    justify-content: end;
}

.about_left_box div {
    /* position: relative;
    left: 2rem;
    z-index: 2; */
    background-color: #d45ba1;
    height: 15rem;
    width: 14rem;
    overflow: hidden;
}

.sml_box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sml_box p {
    height: .5rem;
    width: .5rem;
    border: none;
    background-color: #FFF;
}

.about_left_box h3,
.about_left_box h1 {
    color: #fff;
    text-align: center;
}

.about_sign {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.about_icon {
    color: #d45ba1;
}


/* services */

.services_container {
    width: 90%;
    margin: auto;
    display: flex;
}

.services_left {
    width: 35%;
    padding: 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    border-right: 1px solid silver;
}

.services_right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 3rem;
    background-color: #FFF;
}

.services_item {
    width: 40%;
    height: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services_add_container {
    background-color: #d45ba1;
    padding-top: 10rem;
    position: relative;
    bottom: 8rem;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.services_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: .5rem;
}

.services_add h1,
.services_add h4 {
    color: #FFF;
    margin: .2rem;
    font-weight: 900;
}

.ser_icon svg {
    width: 4rem;
    height: 4rem;
    color: #FFF;
}

.doctors_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 97%;
}

.doctors_cart img {
    height: 100%;
    width: 100%;
}

.doctors_cart {
    height: 22rem;
    width: 20rem;
    padding: .5rem;
    border: 1px solid #CDCDCD;
}

.doctors_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    bottom: 21.5rem;
    left: 7.5rem;
}

.doctors_button {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #d45ba1;
    color: #FFF;
    text-align: center;
}

/* textimonal */

.textimonal-container::after{
    content: "TESTIMONAILS";
    position: absolute;
    font-size: 7rem;
    font-weight: 900;
    color: #CDCDCD;
    z-index: 1;
    opacity: .1;
}
.textimonal-container {
    background-color: #FFE7E9;
    display: flex;
    padding: 10rem 2rem;
    align-items: flex-start;
    justify-content: space-between;
}

.textimonal-left {
    width: 45%;
}

.textimonal-right p{
    font-size:larger;
}
.textimonal-right {
    width: 45%;
}

.text_r_footer h2{
    margin: 0;
}
.text_r_footer img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.text_r_footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* contact */

.contact-right img{
    width: 100%;
    height: 100%;
}
.contact-right{
    height: 37.7rem;
    width: 35%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-left{
    width: 55%;
    padding: 3rem;
    background-color: #FFF;
}
.contact_container{
    display: flex;
    align-items: center;
    width: 98%;
    margin: auto;
    position: relative;
    bottom: 5rem;
}   

.contact_input{
    background-color: #d3d3d3;
    border: none;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    width: 36.5%;
}
.contact_textarea{
    width: 80%;
}
.contact-left button {
    background-color: #000;
}

/* blog */

.blog_container_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 6rem;
}
.blog_container_main button{
    background-color: #000;
    margin: 2rem;
}
.blog_btn{
    background-color: #d45ba1;
    color: #FFF;
    padding: .5rem;
}
.blog_bottom{
    display: flex;
    width: 95%;
    margin: auto;
}
.blog_right{
    width: 57%;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog_left img{
    width: 100%;
}
.blog_left{
    width: 40%;
}
.blog_left_container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 2rem;
    background-color: #FFF;
}
.blog_right_container img{
    width: 39%;
}
.blog_right_container{
    display: flex;
}